*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    background: black;
    color: white;
    height: 40px;
}
nav ul{
    list-style-type: none;
}
nav ul li{
    text-align: center;
    font-size: 2rem;
}

.gamecontainer{
    
    position: relative;
    display:flex;
    justify-content: center;
    margin-top: 25px;
    
}

.container{
    position: relative;
    display: grid;
    grid-template-columns: repeat(3,10vw); 
    grid-template-rows: repeat(3,10vw); 
}
.box{
    border:2px solid black;
    font-size: 8vw;
    display: flex;
    justify-content: center;
}

.box:hover{
    background: rgb(221, 177, 221);
    cursor: pointer;
}
.info{
    font-size: 1.5rem;
}
.gameinfo{
    padding: 0px 34px;
}
.imgbox img{
    width: 0;
    transition: 1s ease-in-out;
}

.br-0{
    border-right: 0;
}

.bl-0{
    border-left: 0;
}

.bt-0{
    border-top: 0;
}

.bb-0{
    border-bottom: 0;
}
#reset{
    margin: 0px 2rem;
    padding: .5rem;
    background: rgb(221, 177, 221);
    border-radius: 3rem;
}
#reset:hover{
    background:rgb(112, 58, 112);
}
.line{
    background: black;
    width: 0;
    height: 3px;
    position: absolute;
    background-color: blueviolet;
    transition: width 1s ease-in-out;
}

@media screen and (max-width:800px)
{
    .gamecontainer{
        flex-wrap: wrap;
    }
    .gameinfo{
        margin-top: 34px;
    }
    .container{
        display: grid;
        grid-template-columns: repeat(3,20vw);
        grid-template-rows: repeat(3,20vw);
    }
}